{% extends 'base.html' %}
{% load static %}
{% load documenter_filter %}

{% block title %}{{ company.shortname }}{% endblock %}

{% block content %}

<div class="col-md-12">
    <h1>{{ company.name }} ({{ company.shortname }})</h1>
    <table>
        <tr>
            <td>Land</td>
            <td>{{ company.get_country_display }}</td>
        </tr>
        <tr>
            <td>Gesellschaftstyp</td>
            <td>{{ company.category }}</td>
        </tr>
        <tr>
            <td>Gültigkeit</td>
            <td>{{ company.begin|date_or_infinite }} - {{ company.end|date_or_infinite }}</td>
        </tr>
    </table>
    <div id="company_description">
        <h2>Gesellschaftsinformationen</h2>
        <div id="data-view">
            <App :initial-json-form='{{ company.data_json|safe }}'></App>
        </div>
    </div>
    <div id="dealing_list">
        <h2>Kategorien</h2>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }} ({{ category.num_dealings }})</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{% static 'js/vparser/dist/static/js/manifest.0f2b4add5cb959583e73.js' %}"></script>
<script src="{% static 'js/vparser/dist/static/js/vendor.fb7278e67ec8968a2895.js' %}"></script>
<script src="{% static 'js/vparser/dist/static/js/app.ec97e387c3d45fd49cd8.js' %}"></script>


{% endblock %}